.table-container {
    background-color: var(--white);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000020;
}

.table-container h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 12px;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

p {
    text-align: center;
}